* {
	font-family: Trebuchet MS;
}

body, ul, li {
	margin: 0;
	padding: 0;
}

p, li, h2, h3, h4 {
	color: #4e4e4e;
}

body {
	#background: #f7f7f7;
}

.wrapper {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2%;
	border: 1px solid red;
}

header {
	background: #e5e5e5;
}


/* #main-banner {

} */
#articles h2 {
	text-transform: uppercase;
}
